amongus-bg {
  display: inline-block;
  background: #000;
  min-height: 200px;
  min-width: 350px;
}

amongus-star {
  $size: 7px;

  display: inline-block;
  background: #fff;
  height: $size;
  width: $size;
  position: absolute;
  opacity: 0;
  border-radius: 35%;
}

amongus-amogus {
  display: inline-block;
  background-image: url("../img/Red_Amogus.png"); /* TODO: Add other colors/variants */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 2;
}
